main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 90vh;
    background-color: rgb(209, 224, 226);
}

h1{
    font-family: "Caprasimo", serif;
    font-size: 72px;
    color:blue;
}

.mainText{
    transform: rotate(-1deg);
}

.waveText span {
    display: inline-block;
    font-size: 125px;
    animation: wave 1.3s ease-in-out infinite;
}

.waveText span:nth-child(1) {
    animation-delay: 0s;
}
.waveText span:nth-child(2) {
    animation-delay: 0.1s;
}
.waveText span:nth-child(3) {
    animation-delay: 0.2s;
}
.waveText span:nth-child(4) {
    animation-delay: 0.3s;
}
.waveText span:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.recents, .flexGridGeneral{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height:50vh;
}

.flexGridRecents, .flexGridGeneral{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:50px;
}